/*.dproj
/*.res
/JSCodeGenTests_MemoryManager_EventLog.txt
/LanguageTests_MemoryManager_EventLog.txt
/CITLanguageTests_Icon.ico
/ChromiumVersion.txt
/FastMM_FullDebugMode.dll
/LAZLanguageTests.ico
/LanguageTestsXE2_Icon1.ico
