/Mandelbrot.dproj
/Mandelbrot.res
/MandelbrotXE5.dpr
/MandelbrotXE5.dproj
/MandelbrotXE5.res
/MandelbrotXE6.dpr
/MandelbrotXE6.dproj
/MandelbrotXE6.res
/Mandelbrot_Icon.ico
/Mandelbrot_Icon1.ico
/Mandelbrot_Icon2.ico
