/Chromium
/Delphi2009/dwsLib.dproj
/Delphi2009/dwsLib.res
/DelphiXE/dwsLib.dproj
/DelphiXE/dwsLib.res
/DelphiXE/dwsLibDesignOnly.dproj
/DelphiXE/dwsLibDesignOnly.res
/DelphiXE/dwsLibRuntime.dproj
/DelphiXE/dwsLibRuntime.res
/DelphiXE2/dwsLib.dproj
/DelphiXE2/dwsLib.res
/DelphiXE2/dwsLibDesignOnly.dproj
/DelphiXE2/dwsLibDesignOnly.res
/DelphiXE2/dwsLibRuntime.dproj
/DelphiXE2/dwsLibRuntime.res
/Demos/Hello/Hello.dproj
/Test/Coverage
/Demos/Data/www-cid
/Demos/HttpSys2WebServer/www-
/Demos/HttpSys2WebServer/www-dev
/Demos/HttpSys2WebServer/www-test
/Demos/HttpSys2WebServer/www
/Demos/IDEDialog
/Demos/ISAPI
/Demos/SynopseWebServer/www
/Test/Algorithms/debug
/Libraries/SimpleServer/Test
/Test/TODO
/Demos/IndyWebServer/IndyWebServer.dproj
/Demos/IndyWebServer/IndyWebServer.res
/Test/LanguageTestsXE3.dpr
/Test/LanguageTestsXE5.dpr
/Test/LanguageTestsXE6.dpr
