/Chromium
/Delphi2009/dwsLib.dproj
/Delphi2009/dwsLib.res
/DelphiXE/dwsLib.dproj
/DelphiXE/dwsLib.res
/DelphiXE/dwsLibDesignOnly.dproj
/DelphiXE/dwsLibDesignOnly.res
/DelphiXE/dwsLibRuntime.dproj
/DelphiXE/dwsLibRuntime.res
/DelphiXE2/dwsLib.dproj
/DelphiXE2/dwsLib.res
/DelphiXE2/dwsLibDesignOnly.dproj
/DelphiXE2/dwsLibDesignOnly.res
/DelphiXE2/dwsLibRuntime.dproj
/DelphiXE2/dwsLibRuntime.res
/Demos/Hello/Hello.dproj
/Test/Coverage
