/Chromium
/Delphi2009/dwsLib.dproj
/Delphi2009/dwsLib.res
/DelphiXE/dwsLib.dproj
/DelphiXE/dwsLib.res
/DelphiXE/dwsLibDesignOnly.dproj
/DelphiXE/dwsLibDesignOnly.res
/DelphiXE/dwsLibRuntime.dproj
/DelphiXE/dwsLibRuntime.res
/DelphiXE2/dwsLib.dproj
/DelphiXE2/dwsLib.res
/DelphiXE2/dwsLibDesignOnly.dproj
/DelphiXE2/dwsLibDesignOnly.res
/DelphiXE2/dwsLibRuntime.dproj
/DelphiXE2/dwsLibRuntime.res
/Demos/Hello/Hello.dproj
/Test/Coverage
/Demos/Data/www-cid
/Demos/HttpSys2WebServer/www-
/Demos/HttpSys2WebServer/www-dev
/Demos/HttpSys2WebServer/www-test
/Demos/HttpSys2WebServer/www
/Demos/IDEDialog
/Demos/ISAPI
/Demos/SynopseWebServer/www
/Test/Algorithms/debug
/Libraries/SimpleServer/Test
/Test/TODO
/Demos/IndyWebServer/IndyWebServer.dproj
/Demos/IndyWebServer/IndyWebServer.res
/Test/LanguageTestsXE3.dpr
/Test/LanguageTestsXE5.dpr
/Test/LanguageTestsXE6.dpr
/Demos/Data/www/load
/Packages/Delphi2009/dwsLib.dproj
/Packages/Delphi2009/dwsLib.res
/Packages/DelphiXE/dwsLib.dproj
/Packages/DelphiXE/dwsLib.res
/Packages/DelphiXE/dwsLibDesignOnly.dproj
/Packages/DelphiXE/dwsLibDesignOnly.res
/Packages/DelphiXE/dwsLibRuntime.dproj
/Packages/DelphiXE/dwsLibRuntime.res
/Packages/DelphiXE2/dwsLib.dproj
/Packages/DelphiXE2/dwsLib.res
/Packages/DelphiXE2/dwsLibDesignOnly.dproj
/Packages/DelphiXE2/dwsLibDesignOnly.res
/Packages/DelphiXE2/dwsLibRuntime.dproj
/Packages/DelphiXE2/dwsLibRuntime.res
/Packages/DelphiXE3/dwsLib.dproj
/Source/backup
/Demos/Mandelbrot/ConverterBackup/FMain.pas
/Demos/Mandelbrot/ConverterBackup/Mandelbrot.dpr
/Demos/MandelbrotJS/MandelbrotJS.dpr
/Demos/MandelbrotJS/MandelbrotJS.dproj
/Libraries/DatabaseLib/backup
/Libraries/CryptoLib/backup
/Libraries/BigIntegersLib/backup
/Libraries/GraphicsLib/backup
/Libraries/ClassesLib/backup
/Libraries/SymbolsLib/backup
/Source/jitter/backup
