body {
	background-color: #EEE;
	background-image: linear-gradient(0deg, #EEE, #FFF);
	font-family: "Segoe UI", Arial, Helvetica;
}
table {
	box-shadow: 0px 0px 10px #DDD;
	background-color: white;
	border: 1px solid #DDD;
	padding: 1em;
	width: 32em;
}
.info {
	font-size: 80%;
}
